.container {
  /* outline: 1px solid tomato; */

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.flex-container {
  display: flex;
  align-items: center;
}

.address-container {
  @media (min-width: 768px) {
    margin-right: 70px;
  }
  margin-right: 0;
  margin-bottom: 60px;
}
