.header {
	outline: 1px solid #ececec;
}

.contacts-list {
	display: flex;
	margin-left: auto;
	font-weight: 500;
	font-size: var(--primary-font-size);
	line-height: 1.14;
	letter-spacing: 0.02em;

	&__item + &__item {
		margin-left: 50px;
	}

	&__link {
		display: block;
		padding-top: 32px;
		padding-bottom: 32px;
		text-decoration: none;
		color: var(--primary-text-color);

		@include transition(color) ;
		@include transition(fill) ;

		&:hover,
		&:focus {
			color: var(--hover-focus-color);
			fill: var(--hover-focus-color);
		}
	}

	&__icon {
		margin-right: 8px;
		fill: currentColor;
		vertical-align: middle;
	}
}
