.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  @media (min-width: 1200px) {
    display: block;
  }
  @include transition(opacity);
  @include transition(visibility);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .modal {
      transform: translate(-50%, -50%) scale(0.9);

      @include transition(opacity);
      @include transition(visibility);
      @include transition(transform);
    }
  }
}

.modal {
  position: relative;
  max-width: 450px;
  padding: 40px;
  z-index: 100;
  overflow: scroll;

  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (min-width: 768px) {
    left: 50%;
    top: 50%;
    max-width: 528px;

    transform: translate(-50%, -50%) scale(1);
    @include transition(transform);
  }
  &-group {
    width: 100%;
    height: 100%;
  }

  &-form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
  }

  &-form__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 4px;

    color: var(--primary-text-color);
  }

  &-group__input {
    display: block;
    position: relative;
    padding-left: 38px;
    padding-right: 10px;
    margin-bottom: 10px;

    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }

  &-group__input {
    display: block;
    position: relative;
    padding-left: 38px;
    padding-right: 10px;
    margin-bottom: 10px;

    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
      border-color: var(--active-button-background-color);
    }

    &:focus + .modal-group__icon {
      fill: var(--hover-focus-color);
    }
  }

  &-group {
    position: relative;
  }

  &-group__icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }

  &-form__textarea {
    font-family: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px;
    font-size: 12px;
    margin-bottom: 20px;

    outline: none;

    &:focus {
      border-color: var(--active-button-background-color);
    }

    &::placeholder {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }
  &-form__checkbox {
    position: absolute;
    appearance: none;
  }
  &-form__box {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 4px;
    border: 2px solid var(--button-text-color);
    vertical-align: middle;
  }

  &-form__box-icon {
    opacity: 0;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 15px;
    width: 16px;
  }
  &-form__checkbox:checked + &-form__box > &-form__box-icon {
    border-radius: 4px;
    background-color: var(--active-button-background-color);
    opacity: 1;
  }

  &-form__checkbox-text {
    display: inline;
    font-size: 14px;
    line-height: 1.7;

    color: var(--primary-text-color);
    margin-bottom: 30px;
  }

  &-form__link {
    color: var(--active-button-background-color);

    &:hover {
      color: #2d73ac;
    }
  }

  &-form__button:focus,
  &-form__button:hover {
    border: 0;
    background-color: #188ce8;
  }
}

.check {
  display: inline-block;
  margin-bottom: 20px;
}
