.navigation {
  height: 60px;
  display: flex;
  align-items: center;

  /* #media */
  @media (min-width: 768px) {
    height: 80px;
  }
  @media (min-width: 1200px) {
    // justify-content: space-between;
  }
}

.menu-container {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;

  background-color: #fff;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 999;
  &.is-open {
    display: block;
  }

  @media (min-width: 768px) {
    padding: 0;
    background-color: transparent;
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    margin-left: 93px;
  }
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

/* #site navigation */
.navigation-list {
  @extend %lists;
  display: block;
  text-align: center;
  @media (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__item + &__item {
    /* selector for elements that have a neighbor */
    @media (min-width: 768px) {
      margin-left: 50px;
    }
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include transition(color);
  }
  &__link {
    text-decoration: none;
    color: var(--title-text-color);
  }

  &__link--curent {
    color: var(--hover-focus-color);
  }

  &__link--curent::after {
    position: relative;
    top: 30px;
    content: '';
    display: block;
    border-bottom: 4px solid var(--hover-focus-color);
    border-radius: 2px;
  }

  &__link:hover,
  &__link:focus {
    color: var(--hover-focus-color);
  }
}

.menu-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  /* #media */
  @media (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.contacts-list {
  @extend %lists;
  display: block;
  text-align: center;
  margin-left: auto;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: var(--primary-font-size);

  @media (min-width: 768px) {
    display: block;
    font-size: 12px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  @media (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
  &__item + &__item {
    @media (min-width: 1200px) {
      margin-left: 50px;
    }
  }

  &__item:nth-child(1) {
    /* #media */
    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media (min-width: 320px) {
      margin-bottom: 10px;
    }
    @media (min-width: 320px) {
      margin-bottom: 0px;
    }
  }

  &__link {
    display: block;

    text-decoration: none;
    color: var(--primary-text-color);

    @include transition(color);
    @include transition(fill);

    &:hover,
    &:focus {
      color: var(--hover-focus-color);
      fill: var(--hover-focus-color);
    }

    &__icon {
      margin-right: 8px;
      fill: currentColor;
      vertical-align: middle;
    }
  }
}
