:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --link-text-color: rgba(255, 255, 255, 0.6);
  --button-text-color: #212121;
  --font-text-color: #000000;
  --icon-color: #afb1b8;

  --card-gap: 30px;
  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
  --secondary-letter-spacing: 0.06em;

  --border-color: #eeeeee;
  --hover-focus-color: #2196f3;
	 
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-hero-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --active-button-background-color: #2196f3;
}
