.filter-title {
  @include visually-hidden;
}
.filter-list {
  @extend %lists;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 50px;
  @media (min-width: 768px) {
    justify-content: center;
  }

  &__item {
    margin-left: 8px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}
